/* header, sidebar, content */
* {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    height: 100vh;
}

.website-container {
    height: 100%;

    display: grid;

    grid-template-areas:
    'sidebar header header'
    'sidebar content content';

    grid-template-columns: minmax(200px, 350px) 3fr;
    grid-template-rows: 150px 6fr;
}

/* HEADER */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 30px;
    grid-template-rows: 70px 70px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    margin-left: 20px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #E2E8F0;
}

.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications > * {
    margin-left: 20px;
}

.notifications img {
    height: 50px;
}

.intro {
    display: flex;
    justify-content: start;
    align-items: center;
}

.intro img {
    height: 70px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 0px 20px; 
    background-color: #1992D4;
    color: white;
    font-size: 1.2rem;
}

/* SIDEBAR */

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 350px 250px;
    row-gap: 80px;
    color: white;
    background-color: #1992D4;
}

.sidebar-title, .sidebar-firstgroup, .sidebar-secondgroup {
    display: grid;
    grid-template-columns: 40px 5fr;
    grid-auto-rows: 50px;
    column-gap: 10px;
    margin-left: 40px;
    align-items: center;
    justify-items: start;
}

.sidebar-title {
    margin-top: 20px;
}

.sidebar p {
    font-size: 1.8rem;
    font-weight: strong;
}

.content {
    padding: 20px;
    border-top: 4px solid #ccd1d8;
    background-color: #E2E8F0;
    grid-area: content;
    display: grid;
    grid-template-areas:
    'projects-section announcements-section'
    'project-section trending-section';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr, 1fr;
}

.projects-section {
    grid-area: projects-section;
    grid-row-end: 3;
}

.projects-container {
    margin-top: 20px;
    margin-right: 20px;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-summary {
    min-width: 300px;
    background-color: white;
    border-left: 10px solid #f2c356;
    border-bottom: 5px solid #ccd1d8;
    border-right: 5px solid #ccd1d8;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.project-summary p {
    padding-top: 10px;
    padding-right: 50px;
    color: grey;
}

.project-summary .logos {
    margin-top: 80px;
    margin-left: auto;
    margin-right: 30px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.announcements-section {
    grid-area: announcements-section;
}

.announcements-container {
    margin-top: 20px;
    border-bottom: 5px solid #ccd1d8;
    border-right: 5px solid #ccd1d8;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement {
    margin-top: 10px;
    border-bottom: 1px solid #bababa;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement p {
    padding-top: 5px;
    padding-bottom: 20px;
    color: grey;
    font-size: 0.8rem;
}

.trending-section {
    grid-area: trending-section;
}

.trending-container {
    margin-top: 20px;
    border-bottom: 5px solid #ccd1d8;
    border-right: 5px solid #ccd1d8;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 80px;
    row-gap: 10px;
    justify-items: left;
    align-items: center;
}

.trending-container > p {
    justify-self: left;
    color: grey;
}